.coin {
  width: 90px;
  height: 90px;
  position: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("/assets/coin.png");
  background-size: cover;
  transition: transform 0.1s;
}

.money-text {
  text-align: center;
  position: relative;
  top: 35px;
  font-size: 16px;
}

.coin:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  transition: transform 0.2s;
}

.coin:active {
  filter: brightness(0.9);
}
