.badge-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 10px;
  font-size: 16px;
  color: white;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.badge-text:active {
  font-size: 15px;
  color: gray;
  transition: all 0.1s ease-in-out;
}

.highlighted {
  color: rgb(0, 123, 255);
  transform: scale(1.1);
  transform-origin: 0 0;
}
