.dispenser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 64px;
  background: linear-gradient(
    180deg,
    #000000 1.09%,
    rgba(255, 255, 255, 0.2) 217.49%
  );
  border: 1px solid #504b4b;
}

.dispenser-border {
  position: absolute;
  top: 669.23px;
  left: 105.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 80px;
  background: radial-gradient(
    381.48% 681.43% at -33.11% -208.47%,
    #756f6f 0%,
    #000000 100%
  );
  border-radius: 2px;
}

.soda-cans {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  column-gap: 5px;
}

.soda-cans:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.1);
  transition: transform 0.1s ease-in-out;
}

.soda-cans:active {
  filter: brightness(0.9);
}
